In [1]:
# Import essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set plot style
sns.set(style="whitegrid")

In [2]:
# Load dataset
df = pd.read_csv('../data/EV_Battery_Performance.csv')

In [3]:
# Display first few rows
df.index = range(1, len(df) + 1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 1 to 474
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      474 non-null    object
 1   model                      474 non-null    object
 2   top_speed_kmh              474 non-null    int64
 3   battery_capacity_kWh       474 non-null    float64
 4   battery_type               474 non-null    object
 5   number_of_cells            274 non-null    float64
 6   torque_nm                  467 non-null    float64
 7   efficiency_wh_per_km       474 non-null    int64
 8   range_km                   474 non-null    int64
 9   acceleration_0_100_s       474 non-null    float64
 10  fast_charging_power_kw_dc  473 non-null    float64
 11  fast_charge_port           473 non-null    object
 12  towing_capacity_kg         448 non-null    float64
 13  cargo_volume_l             473 non-null    float64
 14  seats                      474 non-null    int64
 15  drivetrain                 474 non-null    object
 16  segment                    474 non-null    object
 17  length_mm                  474 non-null    int64
 18  width_mm                   474 non-null    int64
 19  height_mm                  474 non-null    int64
 20  car_body_type              474 non-null    object
 21  source_url                 474 non-null    object
dtypes: float64(7), int64(7), object(8)
memory usage: 81.6+ KB

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
1,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185.0,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
2,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185.0,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
3,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360.0,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...
4,Abarth,600e Turismo,200,50.8,Lithium-ion,102.0,345.0,158,280,6.2,...,0.0,360.0,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3056/Abarth-600e-T...
5,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,NaN,496.0,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5

In [4]:
# Get basic info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 1 to 474
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      474 non-null    object
 1   model                      474 non-null    object
 2   top_speed_kmh              474 non-null    int64
 3   battery_capacity_kWh       474 non-null    float64
 4   battery_type               474 non-null    object
 5   number_of_cells            274 non-null    float64
 6   torque_nm                  467 non-null    float64
 7   efficiency_wh_per_km       474 non-null    int64
 8   range_km                   474 non-null    int64
 9   acceleration_0_100_s       474 non-null    float64
 10  fast_charging_power_kw_dc  473 non-null    float64
 11  fast_charge_port           473 non-null    object
 12  towing_capacity_kg         448 non-null    float64
 13  cargo_volume_l             473 non-null    float64
 14  seats                      474 non-null    int64
 15  drivetrain                 474 non-null    object
 16  segment                    474 non-null    object
 17  length_mm                  474 non-null    int64
 18  width_mm                   474 non-null    int64
 19  height_mm                  474 non-null    int64
 20  car_body_type              474 non-null    object
 21  source_url                 474 non-null    object
dtypes: float64(7), int64(7), object(8)
memory usage: 81.6+ KB

In [5]:
# Shape of the dataset
print("Shape of dataset:", df.shape)

Shape of dataset: (474, 22)

In [6]:
# Check column names
print("\nColumns in dataset:\n", df.columns.tolist())

Columns in dataset:
 ['brand', 'model', 'top_speed_kmh', 'battery_capacity_kWh', 'battery_type', 'number_of_cells', 'torque_nm', 'efficiency_wh_per_km', 'range_km', 'acceleration_0_100_s', 'fast_charging_power_kw_dc', 'fast_charge_port', 'towing_capacity_kg', 'cargo_volume_l', 'seats', 'drivetrain', 'segment', 'length_mm', 'width_mm', 'height_mm', 'car_body_type', 'source_url']

In [7]:
# Descriptive statistics
df.describe().round(2)

,top_speed_kmh,battery_capacity_kWh,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,fast_charging_power_kw_dc,towing_capacity_kg,cargo_volume_l,seats,length_mm,width_mm,height_mm
count,474.00,474.00,274.00,467.00,474.00,474.00,474.00,473.00,448.00,473.00,474.00,474.00,474.00,474.00
mean,185.47,73.96,487.77,497.43,162.81,393.07,6.88,124.95,1050.05,494.05,5.26,4677.55,1886.87,1600.29
std,34.32,20.23,1214.89,240.86,34.34,103.24,2.74,58.25,735.86,187.16,1.00,367.86,73.67,130.66
min,125.00,21.30,72.00,113.00,109.00,135.00,2.20,29.00,0.00,151.00,2.00,3620.00,1610.00,1329.00
25%,160.00,60.00,150.00,305.00,143.00,320.00,4.80,80.00,500.00,385.00,5.00,4440.00,1849.00,1514.00
50%,180.00,75.80,240.00,430.00,155.00,397.50,6.60,113.00,1000.00,470.00,5.00,4720.00,1887.00,1596.00
75%,201.00,90.60,324.00,679.00,177.00,470.00,8.20,150.00,1600.00,545.00,5.00,4961.00,1939.00,1663.75
max,325.00,118.00,7920.00,1350.00,370.00,685.00,19.10,281.00,2500.00,1410.00,9.00,5908.00,2080.00,1986.00

In [8]:
# Missing values
print("\nMissing values in each column:\n", df.isnull().sum())

Missing values in each column:
 brand                          0
model                          0
top_speed_kmh                  0
battery_capacity_kWh           0
battery_type                   0
number_of_cells              200
torque_nm                      7
efficiency_wh_per_km           0
range_km                       0
acceleration_0_100_s           0
fast_charging_power_kw_dc      1
fast_charge_port               1
towing_capacity_kg            26
cargo_volume_l                 1
seats                          0
drivetrain                     0
segment                        0
length_mm                      0
width_mm                       0
height_mm                      0
car_body_type                  0
source_url                     0
dtype: int64

In [9]:
# Check for duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [10]:
# Display unique counts for categorical features if any
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"{col}: {df[col].nunique()} unique values")

brand: 57 unique values
model: 474 unique values
battery_type: 1 unique values
fast_charge_port: 2 unique values
drivetrain: 3 unique values
segment: 15 unique values
car_body_type: 8 unique values
source_url: 474 unique values